body {
  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 20px;
  color: #404040;
}
p {
  line-height: 1.5;
  margin: 30px 0;
}
p a {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}
a {
  color: #404040;
}
a:hover,
a:focus {
  color: #0085a1;
}
a img:hover,
a img:focus {
  cursor: zoom-in;
}
blockquote {
  color: #808080;
  font-style: italic;
}

.intro-header {
  background-color: #808080;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding: 30px 0;
}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 100px 0 50px 0;
  color: #000000;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  -o-background-size: contain;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    margin-top: 100px;
    padding: 85px 0;
  }
}
.intro-header .site-heading,
.intro-header .page-heading {
  text-align: center;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 12%;
  font-size: 50px;
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  font-size: 24px;
  line-height: 1.1,
	display: block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    margin-top: 24%;
    font-size: 80px;
  }
}
.intro-header .post-heading h1 {
  font-size: 35px;
}
.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
  line-height: 1.1;
  display: block;
}
.intro-header .post-heading .subheading {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin: 10px 0 30px;
  font-weight: 600;
}
.intro-header .post-heading .meta {
  font-family: 'Lora', 'Times New Roman', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
}
.intro-header .post-heading .meta a {
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .post-heading h1 {
    font-size: 55px;
  }
  .intro-header .post-heading .subheading {
    font-size: 30px;
  }
}

.btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 15%;
    display: inline-block;
    margin: 35px 11%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.btn-dropcode {
    background: #F5F5F5;
    color: #000;
    box-shadow: 0 6px #666666;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-radius: 0 0 5px 5px;
}
.btn-dropcode:hover {
    color: #000;
    box-shadow: 0 8px #666666;
    top: -2px;
}
.btn-dropcode:active {
    box-shadow: 0 0 #666666;
    top: 6px;
}

html,body{
  min-height: 100%;
  font-family: Helvetica, "Trebuchet MS", Arial, sans-serif;
}
body{
  background: white;
  color:#303030;
  margin: 0;
  padding: 0;
}
header h1{
  margin: 0;
  font-size: 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: #303030 url('schoollines.png') center bottom no-repeat;
  background-size: auto 100px;
  color:#F7DA03;
}
header h1 .container{
  padding: 80px 0;
  background-size: auto 150px;
  position: relative;
  top:-50px;
  text-align: center;
}
header h2 {
  margin:0;
  background-color: #303030;
  background-color: #F7DA03;
  padding: 10px 20px;
  color:white;
  letter-spacing: 4px;
  text-align:center;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 200;
  color:#F7DA03;
  color:#000;
}
header h1 .what{
  display: none;
}
header h1 .where{
  padding: 6px 12px;
  color:#F7DA03;
  background: #303030;
  border:3px solid white;
}
header h1 .where{
  margin: 0 auto;
}
footer{
  height: 160px;
  background: url('node-js.svg') center center no-repeat;
  background-size: auto 150px;
  margin-top: 50px;
}
.container, section {
  max-width: 860px;
  margin:0 auto
}
section{
  padding:10px;
}
p{
  font-size: 20px;
  text-align: left;
  margin-bottom: 30px;
  line-height: 1.5em;
}
a{
  color:inherit;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
  color: teal;
}

#next{
  background-color: #303030;
  color:white;
}

.term,
.term .chrome,
.term .chrome .btn{
  border:solid 2px #303030;
}
.term{
  display: block;
  min-width: 300px;
  border-radius: 4px;
  margin-bottom:10px;
  text-align: left;
}
.term .shell{
  min-height:130px;
  overflow:hidden;
}
.term .chrome{
  height:34px;
  padding-left:4px;
  border-top:0 none;
  border-right:0 none;
  border-left:0 none;
}
.term .chrome:before{
  content:" ";
  display:inline-block;
  height:100%;
  vertical-align:middle;
}
.term .chrome .btn{
  display:inline-block;
  vertical-align:middle;
  width:8px;
  height:8px;
  border-radius:100%;
}
.term .shell{
  padding:10px;
  color:#777;
}
.term .workshopper{
  background: #F8F0BD;
  padding:2px;
}
.term .workshopper code{
  border:0 none;
}
.term code{
  display:block;
  margin:12px 0;
  padding: 4px 10px;
  border-left: 8px solid #F7DA03;
  font-family: AndaleMono, courier, monospace;
}
.term.max{
  top:0;
  left:0;
  position:absolute;
  width:100%;
  height:100%;
  max-width:none;
}
.term.min{
  position:absolute;
  bottom:0;
}
.term.min .shell{
  min-height:0;
  height:0;
  padding:0;
}
.term.min .chrome{
  border:0 none;
}
.term .chrome .btn.close:hover{
  background:red;
}
.term .chrome .btn.max:hover{
  background:green;
}
.term .chrome .btn.min:hover{
  background:#F7DA03;
}


.sign{
  padding: 6px 12px;
  color:#F7DA03;
  background: #303030;
  border:3px solid white;
  text-transform: uppercase;
}
.sign:before,
.sign:after{
  content:"";
  display: inline-block;
  width:3px;
  height: 40px;
  background: white;
  position: relative;
  top:  55px;
}
#next h2{
  margin-bottom: 80px;
}

@media screen and (min-width : 500px) {
  header h1{
    background: #303030 url('schoollines.png') center 20px no-repeat;
    background-size: auto 120px;
  }
  header h1 .container{
    text-align: left;
    position: static;
  }
  header h1 .where{
    padding: 6px 12px;
    color:#F7DA03;
    background: #303030;
    border:3px solid white;
  }
  header h1 .where:before,
  header h1 .where:after{
    content:"";
    display: inline-block;
    width:3px;
    height: 60px;
    background: white;
    position: relative;
    top:  80px;
  }

  #intro .term{
    width:40%;
    max-width: 500px;
    display: inline-block;
  }
  .terms {
    text-align: center;
  }
}

@media screen and (min-width : 700px) {
  div.term ~ div.term {
    margin-left: 50px;
  }
}