body, button, a {
    font-family: 'Source Sans Pro', sans-serif;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
}

h1, h2, h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

.main-wrapper {
    height: 90vh;
    background: rgba(255, 198, 25);
}

.desc-design-wrapper {
    position: relative;
}

.desc-wrapper {
    background: #314062;
    color: white;
}

.desc-design-wrapper:before {
    background-image: url(./images/zigzag-border.svg);
    transform: rotateX(180deg);
    content: "";
    height: 1rem;
    position: absolute;
    top: calc(-1rem + 1px);
    width: 100%;
}

.venue-wrapper p {
    color: #333;
}

.credits-wrapper h2, .credits-wrapper h3, .credits-wrapper p, .desc-wrapper h3 {
    color: white;
}

.venue-wrapper div{
    height: 40vh;
}

.venue-content {
    background:rgba(255, 198, 25);
}

.venue-photo {
    background:url(./images/nc_bg.jpg);
    background-size: cover;
}

.questions-wrapper {
    background: #f8f8f8;
}

.credits-wrapper {
    background: #333;
}

code {
    background: transparent !important;
    color: white !important;
}

@media (min-width: 960px) {
    .uk-h1, h1 {
	font-size: 3rem;
    }
}

.uk-button-primary {
    background: #324162;
}
